/* Add rounded corners to the pre element (code block container) */
pre {
    border-radius: 10px;
    background-color: #f0f0f0;
    overflow: auto;
}

/* Add rounded corners to the code element (the code itself) */
pre code {
    border-radius: 10px; /* Same value as pre element for consistency */
}

/* Line Numbers */
/* Reference: https://prismjs.com/plugins/line-numbers/ */
pre[class*="language-"].line-numbers {
    position: relative;
    padding-left: 3.8em;
    counter-reset: linenumber;
    white-space: pre-wrap;
}

pre[class*="language-"].line-numbers > code {
    position: relative;
    white-space: inherit;
}

.line-numbers .line-numbers-rows {
    position: absolute;
    pointer-events: none;
    top: 0;
    font-size: 100%;
    left: -3.8em;
    width: 3em;
    letter-spacing: -1px;
    border-right: 1px solid #999;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.line-numbers-rows > span {
    pointer-events: none;
    display: block;
    counter-increment: linenumber;
}

.line-numbers-rows > span:before {
    content: counter(linenumber);
    color: #999;
    display: block;
    padding-right: 0.8em;
    text-align: right;
}